body{
    /* background-color: rgb(236, 233, 233); */
    padding: 0;
    margin: 0;
}
.btn{
   
    padding: 1rem;
    color: white;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
   
}

.hero-image{
    background-image: url('./assets/fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero-opacity{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
  
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content >*{
    padding: 4rem;
}
div.hero-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
div.hero-image p{
    margin: 0;
    padding: 0;
}
div.hero-image h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
}
a{
    text-decoration: none;
}

.btn-appointment{
    background-color: rgb(154, 82, 55);
}

@media (min-width:768px ) {
    .about{
        margin: 4rem;
        display: flex;
      
    }
}
.about-description{
    margin: 1rem;
}

@media (min-width: 768px) {
    .about >*{
      
        margin-right: 2rem;
        flex: 0 0 30%;
    }

    
}
.about-description p{
    color: rgb(100, 98, 98);
    text-align: justify;
    line-height: 1.3rem;

}
.about-description h4{
    font-size: 16px;
    font-weight: 100;
    color: rgb(154, 82, 55);
    letter-spacing: 5px;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.about-description hr{
    display: inline-block;
    height: 0.1rem;
    width: 25%;
    background-color:rgb(154, 82, 55);
}
.about-images img{
    margin: 0.5rem;
    width: 45%;
    height: 300px;
    object-fit: cover;
}
.about-details{
    padding-left: 2rem;
}
.about-details hr{
    display: inline-block;
    height: 0.1rem;
    width: 35%;
    background-color: rgb(154, 82, 55);
    
}

.about-hour{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-details h4{
    font-size: 16px;
    font-weight: 300;
    color: rgb(154, 82, 55);
    letter-spacing: 5px;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-style: normal;

}

.opeinghours li{
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
}
.opeinghours li small{
    position: absolute;
    right: 100px;
    color:rgb(154, 82, 55);
}
.opeinghours li>span{
    color: rgb(82, 79, 79);
    font-weight: 600;
    display: inline-block;
}

.services-images{
    display: flex;
    justify-content: space-evenly;
}
.services-title{
    text-align: center;
   
}
.services-title h4{
    color: rgb(154, 82, 55);
    font-weight: 200;
    letter-spacing: 5px;
}
.services-title h1{
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0;
}
.services-title hr{
    width: 7%;
    margin: 0 auto;
    background-color: rgb(154, 82, 55);
    height: 0.1rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .cards-services{
        display: flex;
        justify-content: space-evenly;
      
       
    }
    
}

.card-service{
  flex:0 0 100%;
  display: flex; 
  flex-direction:column;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
    .card-service{
      
        flex: 0 0 20%;
    }
}

.card-service img{
    border-radius: 50%;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-service h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
}
.card-service p{
    text-align: center;
    line-height: 1.4;
}
.card-service a{
    color: black;
    text-decoration: underline;
   
}
.section-barbers{
    padding-top: 3rem;
}
.barbers-title{
    
    text-align: center;
}
.barbers-title h4{
    color:rgb(154, 82, 55);
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 14px;
    margin: 1px;
}
.barbers-title h1{
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
   margin: 0;
    
}

.barbers-title hr{
    display: inline-block;
    width: 8%;
    background-color: rgb(154, 82, 55);
    height: 0.1rem;
    margin-bottom: 2.5rem;
    
}


@media (min-width: 758px) {
    .cards-barbers{
        padding-left: 3rem;
        padding-right: 3rem;
        display: flex;
        justify-content: space-evenly;
    } 
}
.card-barber{
   
    flex: 0 0 30%;
    text-align: center;
    background-color: rgb(249,249,249);
}
.card-barber img{
    width: 100%;
    
}
.card-barber h4{
    color: rgb(154, 82, 55);
}
.card-barber p{
    font-size: 14px;
    color: #555555;
    line-height: 26px;
    font-weight: 400;
    margin: 1rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card-barber a{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}


@media (min-width: 768px) {
    .section-contact{
        background-color: rgb(250, 249, 249);
        margin: 1rem;
        margin-top: 3rem;
        display: flex;
        align-items: center;
    }
    
}
.section-contact >*{
    flex:0 0 50%;
}
.form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form >*{
    margin: 0.7rem;
}

@media (min-width: 768px) {
    .row-form{
        display: flex;
        justify-content: center;
    } 
}
.col-form input{
  margin-bottom: 0.7rem;
    padding: 0.7rem;
    width: 90%;
}
.content-form button{
    width: 96%;
}



.site-footer{
    background-color: #333333;
    margin:0 ;
}


.contenedor-footer{
  color: white;
   padding: 3rem 0;
   text-align: center;
   font-size: 1.4rem;
    
}
@media (min-width: 768px) {
    .contenedor-footer{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}
.copyright{
    margin: 0;
    color: white;
}


